* {
  box-sizing: border-box;
  font-family: 'Oxanium', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.0;
  margin: 0;
  outline: none;
  padding: 0;
}

a,
a:active,
a:visited {
  color: #678;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a+a {
  margin-left: 16px;
}

body {
  background: #fff;
}

.card {
  background: #fff;
  border: 1px solid #888;
  border-radius: 8px;
  height: 160px;
  position: relative;
  text-align: center;
  transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
  user-select: none;
  width: 112px;
}

.card--available:hover {
  cursor: pointer;
  transform: translateY(-8px) rotateZ(-2deg);
}

.card--facedown::after {
  background: #abc;
  border-radius: 6px;
  bottom: 6px;
  content: '';
  left: 6px;
  position: absolute;
  right: 6px;
  top: 6px;
}

.card__figure--1 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.card__figure--1 span {
  font-size: 40px;
}

.card__figure--n {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 24px;
}

.card__figure--n span {
  font-size: 24px;
  width: 33%;
}

.card__index {
  left: 4px;
  position: absolute;
  top: 4px;
  width: 20px;
}

.card__index span {
  font-size: 16px;
}

.card__index--bottom {
  bottom: 4px;
  left: auto;
  right: 4px;
  top: auto;
  transform: rotate(180deg);
}

#content {
  padding: 0 24px 24px 24px;
}

.content--post-game {
  margin: 24px auto;
  max-width: 40em;
  text-align: center;
}

.content--pre-game {
  margin: 24px auto;
  max-width: 40em;
  text-align: center;
}

.content--pre-game button {
  background: #000;
  border: 2px solid #000;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin: 8px 16px 8px 0;
  padding: 10px 8px;
  width: 240px;
}

.content--pre-game button:active {
  background: #fff;
  color: #000;
}

.content--pre-game label {
  display: inline-block;
  margin: 8px 16px 8px 0;
  text-align: left;
  width: 240px;
}

.content--pre-game output {
  border: 2px solid #000;
  border-radius: 4px;
  display: inline-block;
  margin: 8px 16px 8px 0;
  padding: 8px;
  width: 240px;
}

h1 {
  font-size: 40px;
  margin: 32px 0 24px 0;
}

.hand {
  display: flex;
}

.hand .card~.card {
  margin-left: -84px;
}

.hand .card--available:hover~.card {
  transform: rotateZ(12deg) translateX(24px);
}

input {
  border: 2px solid #000;
  border-radius: 4px;
  margin: 8px 16px 8px 0;
  padding: 8px;
  width: 240px;
}

p {
  line-height: 1.4;
  margin: 16px 0;
}

.player {
  min-width: 200px;
}

.player__indicator {
  color: #f00;
}

.player__indicator--left::after {
  animation: bounce--left 0.3s alternate infinite;
  content: '▶';
  margin-right: 8px;
}

.player__indicator--right::after {
  animation: bounce--right 0.3s alternate infinite;
  content: '◀';
  margin-left: 8px;
}

#progress {
  background: #eee;
  display: none;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

#progress__indicator {
  animation: spin 1s ease-in-out infinite;
  border: 4px solid #000;
  border-radius: 50%;
  border-top-color: transparent;
  height: 96px;
  left: 50%;
  margin: -48px;
  position: absolute;
  top: 50%;
  width: 96px;
}

.suit--blue {
  color: #44b;
}

.suit--green {
  color: #282;
}

.suit--red {
  color: #c44;
}

#wallet {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 2px 0;
  justify-content: space-between;
}

#wallet button {
  background-color: #000;
  border-radius: 0;
  font-family: 'Oxanium', serif;
  font-size: 20px;
  font-weight: 400;
}

#wallet button:active {
  background-color: #fff;
  color: #000;
}

#wallet output {
  display: inline-block;
  margin: 0 24px;
}

@font-face {
  font-family: 'Oxanium';
  src: url('/fonts/oxanium.woff2') format('woff2');
}

@keyframes bounce--left {
  from {
    padding-left: 16px;
    padding-right: 0px;
  }

  to {
    padding-left: 0px;
    padding-right: 16px;
  }
}

@keyframes bounce--right {
  from {
    padding-left: 0px;
    padding-right: 16px;
  }

  to {
    padding-left: 16px;
    padding-right: 0px;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (width < 800px) {
  .card {
    margin: 8px 0;
  }

  .content--in-game {
    margin: 24px;
  }

  .pile {
    float: left;
    margin: 16px 16px 24px 0;
  }

  .player {
    clear: both;
    margin: 16px 0 24px 0;
  }
}

@media (800px <= width) {
  .card {
    margin: 16px 0;
  }

  #discard-pile {
    left: 50%;
    margin-left: 8px;
    top: 50%;
    transform: translateY(-50%);
  }

  #draw-pile {
    margin-right: 8px;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .pile {
    position: absolute;
    text-align: center;
  }

  .player {
    position: absolute;
  }

  #player0 {
    left: 48px;
    top: 104px;
  }

  #player1 {
    bottom: 50%;
    right: 48px;
    text-align: right;
    top: 104px;
  }

  #player1 .hand {
    justify-content: right;
  }

  #player2 {
    bottom: 48px;
    left: 48px;
  }

  #player3 {
    bottom: 48px;
    right: 48px;
    text-align: right;
  }

  #player3 .hand {
    justify-content: right;
  }
}